{
    "extends": ["react-app", "prettier"],
    "plugins": ["import"],
    "rules": {
        "import/no-restricted-paths": [
            "error",
            {
                "basePath": "src",
                "zones": [
                    {
                        "target": "felles",
                        "message": "Fellesmappen kan kun importere filer fra egen mappe",
                        "from": ".",
                        "except": ["felles", "api"]
                    },
                    {
                        "target": "header",
                        "message": "Headeren kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["header", "felles", "dev"]
                    },
                    {
                        "target": "forside",
                        "message": "Forsiden kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["forside", "felles"]
                    },
                    {
                        "target": "kandidat",
                        "message": "Kandidatsiden kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["kandidat", "felles", "api"]
                    },
                    {
                        "target": "kandidatsok",
                        "message": "Kandidatsøket kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["kandidatsok", "felles"]
                    },
                    {
                        "target": "stilling",
                        "message": "Stillingssiden kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["stilling", "felles", "kandidat", "dev"]
                    },
                    {
                        "target": "stillingssok",
                        "message": "Stillingssøket kan kun importere filer fra egen mappe eller fellesmappen",
                        "from": ".",
                        "except": ["stillingssok", "felles"]
                    }
                ]
            }
        ]
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx", ".js", ".jsx"]
            }
        }
    }
}
