node_modules

/dist
/server/build

.DS_Store
.env.local
.env.development.local
.env.production.local
.env.test.local

coverage
.vscode
.idea
.history

secure.log
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

playwright/.auth
