.forsideWrapper {
    background-color: var(--a-bg-default);
}

.forside {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--innhold-maksbredde);
    padding: 3rem 1rem;
    margin: 0 auto;
}
