.forsideWrapper {
    background-color: var(--a-bg-default);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forside {
    max-width: var(--innhold-maksbredde);
    padding-top: 3rem;
    margin: 2rem 0 5rem;
    padding: 0 1rem;
}

@media (min-width: 768px) {
    .forside {
        padding: 0 2.5rem;
    }
}
