.tidsperiode {
    display: flex;
    align-items: center;
    align-self: stretch;
}

.tekst {
    display: flex;
    color: var(--a-text-subtle);
}

.tekst:not(:last-child)::after {
    content: '·';
    font-size: 2rem;
    color: var(--a-gray-300);
    padding: 0 0.5rem;
}
