.side {
    background-color: white;
    width: 100%;
    border-bottom: 2px solid var(--a-border-subtle);
    padding: 0 2rem;
}

.wrapper {
    margin: 0 auto;
    max-width: var(--innhold-maksbredde);
    padding: 1.5rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.mosaik {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.høyreSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    flex: 1 0 0;
}

.venstreSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

@media (min-width: 1080px) {
    .mosaik {
        align-items: flex-start;
        flex-direction: row;
        align-self: stretch;
    }

    .venstreSide {
        width: 49.3125rem;
    }
}
