.presenterKandidaterModal {
    max-width: 40rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mailadresse {
    margin-bottom: 2rem;
    max-height: 100px;
}

.knapper {
    display: flex;
    gap: 1rem;
}
