.presenterKandidaterModal {
    max-width: 40rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.knapper {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.epostadresser :global(.navds-chips) {
    margin-top: 1rem;
}

.forhåndsvisning {
    padding: 0;
}
