.presenterKandidaterModal {
    max-width: 40rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mailadresse {
    margin-bottom: 1rem;
    max-height: 100px;
}

.leggTilMailadressefelt {
    color: var(--a-text-action);
}

.leggTilMailadressefelt:hover {
    color: var(--a-text-action);
    background-color: inherit;
}

.leggTilMailadressefelt:active:hover {
    color: var(--a-text-action);
    background-color: inherit;
}

.knapper {
    display: flex;
    gap: 1rem;
}

.feilmelding {
    color: var(--a-text-danger);
}
