.wrapper {
    display: grid;
    align-items: start;
    grid-template-areas:
        'over-tabell'
        'filter'
        'tabell'
        'under-tabell';
    gap: 1rem;

    margin: 2.5rem auto 0;
    padding: 0 1rem;
}

.venstreKolonne {
    grid-area: filter;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.filter {
    grid-area: filter;
}

.overTabell {
    grid-area: over-tabell;
}

.tabell {
    grid-area: tabell;
}

.paginering {
    display: flex;
    justify-content: center;
    grid-area: under-tabell;
}

@media (min-width: 1280px) {
    .wrapper {
        display: grid;
        grid-template-columns: 19rem auto;
        grid-template-areas:
            'over-filter over-tabell'
            'filter tabell'
            'under-filter under-tabell';

        gap: 1.5rem 3rem;
        padding: 0 2rem;
        max-width: calc(var(--innhold-maksbredde) + 4rem);
    }
}
