.innhold {
    display: flex;
}

.lenke {
    text-decoration: none;
    font-weight: bold;
}

.lenke:hover {
    text-decoration: underline;
}
.checkbox {
    margin-right: 1.25rem;
}

.hovedinnhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.omKandidat {
    flex: 1;
}

.omKandidat h1 {
    margin-bottom: 0.5rem;
}

.tekstLinje {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0rem 1.5rem;
}

@media (min-width: 768px) {
    .tekstLinje {
        flex-direction: row;
    }
}
