.innhold {
    display: flex;
}

.checkbox {
    margin-right: 1.25rem;
}

.hovedinnhold {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.omKandidat {
    flex: 1;
}

.tekstLinje {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
