.wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.layout {
    max-width: var(--innhold-maksbredde);
    width: 100%;
    padding: 0 1rem;
}

.container {
    gap: 2rem 3.5rem;
    display: flex;
    flex-direction: column;
}

.sidebar {
    flex-grow: 0;
    width: 100%;
}

.sidebar :global(.navds-accordion__content) {
    padding: 1rem;
}

.sideinnhold {
    width: 100%;
}

@media (min-width: 768px) {
    .layout {
        padding: 0 2.5rem;
    }

    .container {
        flex-direction: row;
    }

    .sidebar {
        width: 22.5rem;
    }
}
