.antallStillinger {
    grid-area: over-tabell;
    margin-bottom: 1rem;
}

.paginering {
    display: flex;
    justify-content: center;
    grid-area: under-tabell;
    margin-top: 2rem;
}

.feilmelding {
    margin-top: var(--a-spacing-4);
}

.tabell {
    grid-area: tabell;
}

.filter {
    grid-area: filter;
}
