.forespørsler {
    margin-top: 2.5em;
    margin-bottom: 3rem;
}

.forespørsler:global(.navds-panel) {
    border-radius: 0.25rem;
    padding: 2rem;
}

.delingstatistikk {
    display: grid;
    grid-gap: 1.5rem;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--a-border-subtle);
    border-radius: var(--a-border-radius-xlarge);
}

@media (min-width: 500px) {
    .delingstatistikk {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .delingstatistikk {
        grid-template-columns: repeat(4, 1fr);
    }
}
