.statistikk {
    width: 100%;
}

.konktekstForStatistikk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: var(--a-spacing-8);
    gap: 1.5rem;
}

.skillelinje {
    display: none;
    height: 1px;
    background: var(--a-border-subtle);
    flex-grow: 1;
}

@media (min-width: 48rem) {
    .konktekstForStatistikk {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .skillelinje {
        display: unset;
    }
}

.tidsperiode {
    display: flex;
    align-items: center;
}

.tittel {
    text-align: center;
    display: flex;
    justify-content: center;
}

.tall {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.talldetaljer {
    color: var(--a-text-subtle);
}

@media (min-width: 768px) {
    .tall {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
