.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
}

.hovedinnhold {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.lenker {
    display: flex;
    gap: 1.5rem;
}
