.avviksrapportering {
    min-width: 43.75rem;
    overflow: visible;
}

.intendert {
    margin-left: 2rem;
}

.avvikComboboks {
    z-index: -1;
}

.avvikModalBody {
    overflow: visible;
}

.lesMer {
    margin-bottom: 1.5rem;
}
