.avviksrapportering {
    min-width: 43.75rem;
}

.intendert {
    margin-left: 2rem;
}

.avvikComboboks {
    z-index: -1;
}

.lesMer {
    margin-bottom: 1.5rem;
}

.footer {
    padding: 0;
    padding-top: 1.5rem;
}
