.innhold {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 1.5rem;
}

.hovedinnhold {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.personalia {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
}

.personalia svg {
    flex-shrink: 0;
    font-size: 1.5rem;
}

.personalia * {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.topplinje {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.bunnlinje {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.kopieringsknapp svg {
    font-size: 1.25rem;
}

@media (max-width: 1280px) {
    .nederstTilHøyre {
        margin-top: 1rem;
    }
}
