.wrapper {
    display: flex;
    justify-content: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3.5rem 0 3.5rem 0;
}

.bannerTittel {
    display: flex;
    align-items: center;
}

.ikon {
    height: 4rem;
    width: 4rem;
    margin-right: 2.5rem;
}

.layout {
    flex: 1;
    margin: 0 2.5rem 5rem 2.5rem;
    max-width: var(--innhold-maksbredde);
}

.container {
    gap: 3.5rem;
    display: flex;
    flex-direction: column;
}

.sidebar {
    flex-grow: 0;
    width: 100%;
}

.sideinnhold {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .sidebar {
        width: 22.5rem;
    }
}
