.hurtiglenker {
    display: grid;
    grid-template-columns: 3fr;
    gap: 1rem;
    width: 100%;
    margin-bottom: var(--a-spacing-16);
}

.lenkepanel {
    border-radius: var(--a-border-radius-xlarge);
    background: var(--a-surface-subtle);
    box-shadow: var(--a-shadow-xsmall);
}

.lenkeinnhold {
    display: flex;
    align-items: center;
    font-size: 24px;
    gap: 1.5rem;
    padding: 1.5rem;
}

.lenkeinnhold span {
    text-decoration: underline;
    font-weight: 600;
}

.lenkeikon {
    border-radius: 50%;
    overflow: hidden;
}

.lenkeikon img {
    width: 4rem;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .hurtiglenker {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

@media (min-width: 1280px) {
    .hurtiglenker {
        grid-template-columns: repeat(4, 1fr);
    }
}
