.wrapper {
    width: 100%;
    padding: 0 2rem;
    background-color: white;
    padding-bottom: 0.5rem;
}

.meny {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.5rem;
    border-bottom: 1px solid var(--a-border-divider);
    max-width: var(--innhold-maksbredde);
    margin: 0 auto;
}

.faner :global(.navds-tabs__tablist-wrapper) {
    box-shadow: none;
}

.faner :global(.navds-tabs__tablist) {
    width: 100%;
}

.faner :global(.navds-tabs__tab) {
    flex: 1;
}

.faner button {
    min-height: 4rem;
}

.menyvalg {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media (min-width: 780px) {
    .faner :global(.navds-tabs__tab) {
        flex: unset;
    }

    .menyvalg {
        flex-direction: row;
        align-items: center;
    }
}

@media (min-width: 1000px) {
    .meny {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-items: center;
    }
}
