.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
    gap: 1.5rem;
}

.meny {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    max-width: var(--innhold-maksbredde);
    padding: 0 1rem;
    border-bottom: 2px solid var(--a-border-divider);
}

.faner :global(.navds-tabs__tablist-wrapper) {
    box-shadow: none;
}

.faner button {
    min-height: 4rem;
}

.lenkerIMeny {
    display: none;
}

.lenkerUnderMeny {
    padding: 0 1rem;
}

.venstre {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.høyre {
    display: flex;
    margin-left: auto;
    gap: 0.5rem;
}

@media (min-width: 1000px) {
    .lenkerIMeny {
        display: unset;
    }

    .lenkerUnderMeny {
        display: none;
    }
}
