.wrapper {
    margin-bottom: 1.5rem;
    max-width: calc(var(--innhold-maksbredde) + 4rem);
    padding: 0 2rem;
    margin: 0 auto;
}

.meny {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid var(--a-border-divider);
}

.faner :global(.navds-tabs__tablist-wrapper) {
    box-shadow: none;
}

.faner button {
    min-height: 4rem;
}

.faner {
    order: 1;
}

.menyvalg {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
