@import '@navikt/ds-css' layer(designsystem);

:root {
    --rekrutteringsbistand-blue: #e3edf8;

    /* Innholdets maksbredde, ekskludert padding */
    --innhold-maksbredde: 100rem;

    /* Kandidat-appen */
    --kandidatsokSidepanelBredde: 13rem;
    --kandidatsokInnholdBredde: 95.5rem;
    --rekrutteringsbistandBla: #e3edf8;
}

body {
    margin: 0;
    background-color: var(--a-bg-subtle);
}
