@import url('https://cdn.nav.no/personoversikt/internarbeidsflate-decorator-v3/dev/latest/dist/index.css');
@import '@navikt/ds-css' layer(designsystem);

:root {
    --rekrutteringsbistand-blue: #e3edf8;

    /* Innholdets maksbredde, ekskludert padding */
    --innhold-maksbredde: 1400px;
    --innhold-maksbredde-utvidet: 1700px;

    /* Kandidat-appen */
    --kandidatsokSidepanelBredde: 13rem;
    --kandidatsokInnholdBredde: 95.5rem;
    --rekrutteringsbistandBla: #e3edf8;
}

body {
    margin: 0;
}
