.linje {
    display: flex;
    gap: 0.5rem;
}

.linje svg {
    transform: translateY(5px);
    flex-shrink: 0;
}

.tekst {
    max-width: 100%;
    font-size: 1rem;

    /* Maks to linjer */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
