.panel {
    border-radius: 10px;
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}

.erfaring {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    gap: 0.75rem;
    align-self: stretch;
}

.beskrivelse {
    align-self: stretch;
    color: var(--text-subtle, rgba(0, 0, 0, 0.65));
}

.uthevet {
    font-weight: var(--a-font-weight-bold);
    color: var(--text-default, #262626);
}

.kompetanse {
    color: var(--text-default, #262626);
}

.tidsperiode {
    color: var(--text-subtle, rgba(0, 0, 0, 0.65));
}

.panelOverskrift {
    display: flex;
    padding: 0.75rem;
    align-items: center;
    gap: 0.75rem;
    align-self: stretch;
}

.overskriftMedIkon {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1 0 0;
}

.ikonRamme {
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 6.25rem;
    background: var(--global-purple-100, #e0d8e9);
}
