.banner {
    background-color: white;
    border-bottom: 2px solid var(--a-border-subtle);
    padding: 0 2rem;
    width: 100%;
}

.tittelOgInnhold {
    margin: 0 auto;
    max-width: var(--innhold-maksbredde);
    padding: 1.5rem 0 1.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.tittelOgInnhold h2 {
    margin-top: 0.5rem;
}

@media (min-width: 768px) {
    .tittelOgInnhold {
        padding: 2.5rem 0 3rem;
    }
}

.piktogram {
    flex-shrink: 0;
    height: 4rem;
    width: 4rem;
}

.gammelGrå {
    background-color: var(--a-bg-subtle);
}

@media (min-width: 768px) {
    .innhold {
        margin-left: auto;
    }
}
