.erfaringer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.deler {
    display: flex;
    height: 0.0625rem;
    margin: 0.5rem 0.75rem 0.4375rem 0.75rem;
    background: var(--a-border-divider);
}

.tekst {
    display: flex;
    color: var(--a-text-default);
}
