.erfaringer {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.delerPadding {
    display: flex;
    padding: 0.5rem 0.75rem 0.4375rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.deler {
    display: flex;
    align-self: stretch;
    height: 0.0625rem;
    background: var(--border-divider, rgba(0, 0, 0, 0.19));
}

.tidsperiode {
    display: flex;
    padding-bottom: 0.5rem;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
}

.tekst {
    display: flex;
    color: var(--text-subtle, rgba(0, 0, 0, 0.65));
    font-feature-settings: 'clig' off, 'liga' off;
}

.ikon {
    display: flex;
    width: 0.25rem;
    height: 0.25rem;
    fill: #d9d9d9;
}
