.inngangFraArbop {
    width: 100%;
    max-width: 40rem;
    border: 1px solid var(--a-border-subtle);
    border-radius: var(--a-border-radius-xlarge);
    margin: 3.5rem auto;
    padding: 2rem;
}
